@import "darkly/bootstrap.css";
.class-dk {
  color: #c41f3b;
}
.class-druid {
  color: #ff7d0a;
}
.class-hunter {
  color: #abd473;
}
.class-mage {
  color: #69ccf0;
}
.class-monk {
  color: #00ff96;
}
.class-paladin {
  color: #f58cba;
}
.class-priest {
  color: #ffffff;
}
.class-rogue {
  color: #fff569;
}
.class-shaman {
  color: #0070de;
}
.class-warlock {
  color: #9482c9;
}
.class-warrior {
  color: #c79c6e;
}
.change-positive {
  color: #2dd300;
}
.change-negative {
  color: #db0000;
}
* {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: black url("/assets/img/bg/horde_vs_alliance.jpg") fixed center top;
  margin: 0 ;
  padding-top: 81px;
}
#footer {
  bottom: 0;
  background-color: rgba(24, 24, 24, 0.9);
  margin-bottom: 0;
  clear: both;
  position: absolute;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d66400;
}
td {
  max-width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: baseline;
  white-space: nowrap;
}
td img {
  vertical-align: text-bottom;
}
th {
  color: #d66400;
}
.padding-all {
  padding: 16px;
}
.padding-y {
  padding-bottom: 16px;
  padding-top: 16px;
}
.padding-x {
  padding-left: 16px;
  padding-right: 16px;
}
.navbar-default {
  background-color: rgba(24, 24, 24, 0.9);
}
.panel {
  background-color: #222222;
}
.jumbotron {
  background-color: #222222;
}
.pvp-rankings .pagination {
  margin: 0;
}
.pvp-rankings .progress {
  margin: 21px;
}
