//==============================================================================
// Includes.
//==============================================================================
@import "darkly/bootstrap.css";

// Partials.
@import "partials/angular";
@import "partials/bootstrap";
@import "partials/common";
@import "partials/layout";
@import "partials/mainComponents";
@import "partials/scrollBar";
@import "partials/tables";
@import "partials/variables";

// Components.
@import "components/pvpRankings";

//==============================================================================
// General elements.
//==============================================================================
* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  // TODO: image is a bit too large, causes low frame rate.
  background: black url("/assets/img/bg/horde_vs_alliance.jpg") fixed center top;
  margin: 0 ;
  padding-top: @navbar-height + @navbar-margin-bottom;  // See nav.
  // 'padding-bottom' must always be set to the #footer height (see jQuery file).
}

//==============================================================================
// Document sections.
//==============================================================================
h1, h2, h3, h4, h5, h6 {
  color: @header-color;
}

//==============================================================================
// General style.
//==============================================================================
.icon {
  img {
    border: solid 1px @horde-brown-dark;
    box-shadow: @shadow-icon;
  }
}
