@import "darkly/bootstrap.css";
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
.navbar-default {
  background-color: rgba(24, 24, 24, 0.9);
}
.panel {
  background-color: #222222;
  box-shadow: 0 3px 6px #181818;
}
.panel-heading {
  box-shadow: 0 3px 6px #181818;
}
.panel-footer {
  border: none;
  box-shadow: 0 -3px 6px #181818;
}
.jumbotron {
  background-color: #222222;
  box-shadow: 0 3px 6px #181818;
}
.well {
  box-shadow: 0 3px 6px #181818;
}
.alert {
  box-shadow: 0 3px 6px #181818;
}
.list-group {
  box-shadow: 0 3px 6px #181818;
}
.progress {
  height: 16px;
}
.class-deathknight {
  color: #c41f3b;
}
.class-druid {
  color: #ff7d0a;
}
.class-hunter {
  color: #abd473;
}
.class-mage {
  color: #69ccf0;
}
.class-monk {
  color: #00ff96;
}
.class-paladin {
  color: #f58cba;
}
.class-priest {
  color: #ffffff;
}
.class-rogue {
  color: #fff569;
}
.class-shaman {
  color: #0070de;
}
.class-warlock {
  color: #9482c9;
}
.class-warrior {
  color: #c79c6e;
}
.change-positive {
  color: #2dd300;
}
.change-negative {
  color: #db0000;
}
* {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: black url("/assets/img/bg/horde_vs_alliance.jpg") fixed center top;
  margin: 0 ;
  padding-top: 81px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d66400;
}
.icon img {
  border: solid 1px #3a302e;
  box-shadow: 0 0 6px #181818;
}
.padding-all {
  padding: 16px;
}
.padding-y {
  padding-bottom: 16px;
  padding-top: 16px;
}
.padding-x {
  padding-left: 16px;
  padding-right: 16px;
}
.is-invisible {
  visibility: hidden;
  cursor: default;
}
#footer {
  background-color: rgba(24, 24, 24, 0.9);
  bottom: 0;
  margin-bottom: 0;
  clear: both;
  position: absolute;
  width: 100%;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border: 0px none #2f2f2f;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #484848;
}
::-webkit-scrollbar-thumb:active {
  background: #4e4e4e;
}
::-webkit-scrollbar-track {
  background: #1b1b1b;
  border: 0px none #1b1b1b;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #1b1b1b;
}
::-webkit-scrollbar-track:active {
  background: #1b1b1b;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
td {
  max-width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: baseline;
  white-space: nowrap;
}
td .icon img {
  vertical-align: text-bottom;
}
th {
  color: #d66400;
}
.sort-asc::after {
  content: "\20\25b4";
}
.sort-desc::after {
  content: "\20\25be";
}
.sort {
  cursor: pointer;
  white-space: nowrap;
}
.sort:not(.sort-asc):not(.sort-desc)::after {
  content: "\20\25b4";
  color: transparent;
}
.sort:not(.sort-asc):not(.sort-desc):hover::after {
  color: #d66400;
  content: "\20\25b4";
}
.pvp-rankings table {
  margin: 0;
}
.pvp-rankings .panel-body {
  background-color: #282828;
}
.pvp-rankings .panel-footer {
  background-color: #404040;
}
.pvp-rankings .table-container {
  overflow: auto;
  width: 100%;
}
.pvp-rankings .pagination {
  margin: 0;
}
.pvp-rankings .progress {
  background-color: #808080;
  margin: 21px;
}
.pvp-filters .specs .icon img {
  vertical-align: text-top;
}
