//==============================================================================
// PvP rankings component.
//==============================================================================
.pvp-rankings .pagination {
  margin: 0;
}

.pvp-rankings .progress {
  background-color: @gray-light;
  margin: @navbar-margin-bottom;
}

.pvp-rankings table {
  margin: 0;
}

.pvp-rankings .panel-body {
  background-color: @gray-dark;
}

.pvp-rankings .panel-footer {
  background-color: @gray-darkly;
}

.pvp-rankings .table-container {
  overflow: auto;
  width: 100%;
}
