//==============================================================================
// Imports.
//==============================================================================
@import "../darkly/variables";

//==============================================================================
// Colors.
//==============================================================================

//-------------------------------------
// Reference vars.
//-------------------------------------
@color-op-step: 10%;

//-------------------------------------
// Class colors.
//-------------------------------------
@class-dk:      #C41F3B;
@class-druid:   #FF7D0A;
@class-hunter:  #ABD473;
@class-mage:    #69CCF0;
@class-monk:    #00FF96;
@class-paladin: #F58CBA;
@class-priest:  #FFFFFF;
@class-rogue:   #FFF569;
@class-shaman:  #0070DE;
@class-warlock: #9482C9;
@class-warrior: #C79C6E;

//-------------------------------------
// Warlords of Draenor palette.
//-------------------------------------
@wod-red:         #A02708;
@wod-orange:      #F1A863;
@wod-garnet:      #75281E;
@wod-garnet-dark: darken(@wod-garnet, @color-op-step);
@wod-lime:        #A0CE6C;
@wod-brown:       #442F2C;
@wod-brown-dark:  darken(@wod-brown, @color-op-step);

//-------------------------------------
// Alliance palette.
//-------------------------------------
@alliance-blue-darker:  #0C082D;
@alliance-blue-dark:    #0f2d5a;
@alliance-blue:         #144587;
@alliance-gold-light:   #D3C79C;
@alliance-gold:         #A08C3B;
@alliance-gold-dark:    #6F4F1A;

//-------------------------------------
// Horde palette.
//-------------------------------------
@horde-red-darker:  #420E10;
@horde-red-dark:    #6C171A;
@horde-red:         #B7262B;
@horde-beige:       #B1A380;
@horde-brown:       #4B443C;
@horde-brown-dark:  #3A302E;

//-------------------------------------
// Wowhead theme.
//-------------------------------------
@wowhead-yellow:      #FFD100;
@wowhead-orange:      #F87114;
@wowhead-red:         #A71A19;
@wowhead-blue-light:  #16B6FF;

//-------------------------------------
// Item quality palette.
//-------------------------------------
@item-poor:       #9D9D9D;
@item-common:     #FFFFFF;
@item-uncommon:   #1EFF00;
@item-rare:       #0070FF;
@item-epic:       #A335EE;
@item-legendary:  #FF8000;
@item-artifact:   #E6CC80;
@item-heirloom:   #E6CC80;

//-------------------------------------
// Theme.
//-------------------------------------
@nav-color: fade(@gray-darkest, @transparent);
@panel-color: fade(@gray-darker, @transparent-semi);

//-------------------------------------
// Default values.
//-------------------------------------
@padding-default: 16px;
@padding-y: @padding-default;
@padding-x: @padding-default;

//-------------------------------------
// Transparency.
//-------------------------------------
@transparent:       90%;
@transparent-semi:  95%;

