<article class="pvp-rankings col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{vm.headerText}}
        </div>

        <div class="table-container">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Class</th>
                    <th>Spec</th>
                    <th>Race</th>
                    <th class="col-md-3">Player</th>
                    <th class="col-md-2">Realm</th>
                    <th>Faction</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Rating</th>
                </tr>
                </thead>

                <tbody ng-show="vm.loadingCount <= 0" ng-cloak>
                <tr ng-repeat="entry in vm.pageData">
                    <td class="text-center">{{entry.ranking}}</td>
                    <td class="text-center">
                        <span class="icon">
                            <img ng-src="{{entry.classIconLink}}" tooltip="{{entry.classDisplay}}">
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="icon">
                            <img ng-src="{{entry.specIconLink}}" tooltip="{{entry.specDisplay}}">
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="icon">
                            <img ng-src="{{entry.raceIconLink}}" tooltip="{{entry.raceDisplay}}">
                        </span>
                    </td>
                    <td ng-class="entry.classCssClass">{{entry.name}}</td>
                    <td>{{entry.realm}}</td>
                    <td class="text-center">
                        <span class="icon">
                            <img ng-src="{{entry.factionIconLink}}" tooltip="{{entry.factionDisplay}}">
                        </span>
                    </td>
                    <td class="text-center change-positive">{{entry.wins}}</td>
                    <td class="text-center change-negative">{{entry.losses}}</td>
                    <td class="text-center">{{entry.rating}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-body" ng-show="vm.loadingCount > 0">
            <progressbar class="progress-striped active" value="100" type="warning">
        </div>

        <div class="panel-footer">
            <div class="row" ng-class="{'is-invisible': vm.loadingCount > 0}">
                <div class="col-md-5">
                    <p>
                        Showing {{vm.pageData[0].ranking + ' - ' + vm.pageData[vm.pageData.length - 1].ranking}} of {{vm.leaderboard[vm.leaderboard.length - 1].ranking}} rankings.
                    </p>
                </div>

                <div class="col-md-7">
                    <pagination class="pagination-sm pull-right"
                                ng-model="vm.pageNumber" ng-change="vm.loadPage()"
                                total-items="vm.leaderboard.length" items-per-page="vm.pageSize"
                                direction-links="true" boundary-links="true" max-size="5"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</article>