<article class="col-md-12 pvp-rankings">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Heading
        </div>

        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Class</th>
                <th>Spec</th>
                <th>Race</th>
                <th class="col-md-3">Player</th>
                <th class="col-md-3">Realm</th>
                <th>Faction</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Rating</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>1</td>
                <td class="text-center">
                    <span class="icon"><img src="http://media.blizzard.com/wow/icons/18/.jpg"></span>
                </td>
                <td>#</td>
                <td>#</td>
                <td>name</td>
                <td>realm</td>
                <td>#</td>
                <td>100</td>
                <td>123</td>
                <td>2200</td>
            </tr>
            <tr>
                <td>1</td>
                <td>#</td>
                <td>#</td>
                <td>#</td>
                <td>name</td>
                <td>realm</td>
                <td>#</td>
                <td>100</td>
                <td>123</td>
                <td>2200</td>
            </tr>
            <tr>
                <td>1</td>
                <td>#</td>
                <td>#</td>
                <td>#</td>
                <td>name</td>
                <td>realm</td>
                <td>#</td>
                <td>100</td>
                <td>123</td>
                <td>2200</td>
            </tr>
            <tr>
                <td>1</td>
                <td>#</td>
                <td>#</td>
                <td>#</td>
                <td>name</td>
                <td>realm</td>
                <td>#</td>
                <td>100</td>
                <td>123</td>
                <td>2200</td>
            </tr>
            <tr>
                <td>1</td>
                <td>#</td>
                <td>#</td>
                <td>#</td>
                <td>name</td>
                <td>realm</td>
                <td>#</td>
                <td>100</td>
                <td>123</td>
                <td>2200</td>
            </tr>
            </tbody>
        </table>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Showing 1-5 of 2500 results.
                    </p>
                </div>

                <div class="col-md-6">
                    <ul class="pagination pull-right">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>