<div class="pvp-filters">
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <h4>Region</h4>
                <div class="btn-group btn-group-justified">
                    <a class="btn"
                       ng-repeat="region in vm.regions"
                       ng-class="{'btn-success': vm.region == region,
                                  'btn-default': vm.region != region}"
                       ng-click="vm.region = vm.regions[$index]">
                        {{region.display}}
                    </a>
                </div>
            </div>

            <div class="col-md-8">
                <h4>Bracket</h4>
                <div class="btn-group btn-group-justified">
                    <a class="btn"
                       ng-repeat="bracket in vm.brackets"
                       ng-class="{'btn-success': vm.bracket == bracket,
                                  'btn-default': vm.bracket != bracket}"
                       ng-click="vm.bracket = vm.brackets[$index]">
                        {{bracket.display}}
                    </a>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default btn-block" ng-click="vm.filters.visible = !vm.filters.visible">
                    <span ng-if="!vm.filters.visible">
                        Open Filters
                        <span class="pull-right">&#x25bc;</span>
                    </span>
                    <span ng-if="vm.filters.visible">
                        Close Filters
                        <span class="pull-right">&#x25b2;</span>
                    </span>
                </a>
            </div>
        </div>

        <div class="row" ng-show="vm.filters.visible">
            <div class="col-md-12">
                <h4>Filters</h4>
                <form>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label" for="playerInput">Player</label>
                            <input type="text" class="form-control input-sm" id="playerInput">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="realmSelect">Realm</label>
                            <select class="form-control input-sm" id="realmSelect">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="factionSelect">Faction</label>
                            <select class="form-control input-sm" id="factionSelect">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="minRatingInput">Min. Rating</label>
                            <input type="text" class="form-control input-sm col-md-6" id="minRatingInput">
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="maxRatingInput">Max. Rating</label>
                            <input type="text" class="form-control input-sm col-md-6" id="maxRatingInput">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Specs</h4>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="specsRadios" id="allSpecsRadio" value="all"
                                           ng-model="vm.specsFilter">
                                    Show all talent specs
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="specsRadios" id="filterSpecsRadio" value="filter"
                                           ng-model="vm.specsFilter">
                                    Filter by talent spec
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="vm.specsFilter === 'filter'">
                        <div class="col-md-3">
                            <h5 class="class-hunter">
                                <span class="icon">
                                    <img src="http://wow.zamimg.com/images/wow/icons/small/class_hunter.jpg">
                                </span>
                                Hunter
                            </h5>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="icon">
                                        <img src="http://wow.zamimg.com/images/wow/icons/small/ability_hunter_camouflage.jpg">
                                    </span>
                                    Beast Mastery
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="icon">
                                        <img src="http://wow.zamimg.com/images/wow/icons/small/ability_hunter_camouflage.jpg">
                                    </span>
                                    Marksmanship
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="icon">
                                        <img src="http://wow.zamimg.com/images/wow/icons/small/ability_hunter_camouflage.jpg">
                                    </span>
                                    Survival
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5 class="class-hunter">
                                <span class="icon">
                                    <img src="http://wow.zamimg.com/images/wow/icons/small/class_hunter.jpg">
                                </span>
                                Hunter
                            </h5>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Beast Mastery
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Marksmanship
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Survival
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5 class="class-hunter">
                                <span class="icon">
                                    <img src="http://wow.zamimg.com/images/wow/icons/small/class_hunter.jpg">
                                </span>
                                Hunter
                            </h5>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Beast Mastery
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Marksmanship
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Survival
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5 class="class-hunter">
                                <span class="icon">
                                    <img src="http://wow.zamimg.com/images/wow/icons/small/class_hunter.jpg">
                                </span>
                                Hunter
                            </h5>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Beast Mastery
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Marksmanship
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Survival
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5 class="class-hunter">
                                <span class="icon">
                                    <img src="http://wow.zamimg.com/images/wow/icons/small/class_hunter.jpg">
                                </span>
                                Hunter
                            </h5>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Beast Mastery
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Marksmanship
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Survival
                                </label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-default">
                                Reset
                            </a>
                            <intput type="submit" class="btn btn-primary" name="submit">
                                Filter
                            </intput>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>