<div class="pvp-filters">
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <h4>Region</h4>
                <div class="btn-group btn-group-justified tabs">
                    <a class="btn"
                       ng-repeat="region in vm.regions"
                       ng-class="{'btn-success': vm.region == region,
                                  'btn-default': vm.region != region}"
                       ng-click="vm.region = vm.regions[$index]">
                        {{region.display}}
                    </a>
                </div>
            </div>

            <div class="col-md-8">
                <h4>Bracket</h4>
                <div class="btn-group btn-group-justified tabs">
                    <a class="btn"
                       ng-repeat="bracket in vm.brackets"
                       ng-class="{'btn-success': vm.bracket == bracket,
                                  'btn-default': vm.bracket != bracket}"
                       ng-click="vm.bracket = vm.brackets[$index]">
                        {{bracket.display}}
                    </a>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default btn-block" ng-click="vm.filters.visible = !vm.filters.visible">
                    <span ng-if="!vm.filters.visible">
                        Open Filters
                        <span class="pull-right">&#x25bc;</span>
                    </span>
                    <span ng-if="vm.filters.visible">
                        Close Filters
                        <span class="pull-right">&#x25b2;</span>
                    </span>
                </a>
            </div>
        </div>

        <div class="well">
            <pre>
{{vm.filters | json}}
            </pre>
        </div>

        <div class="row" ng-show="vm.filters.visible">
            <div class="col-md-12">
                <h4>Filters</h4>
                <form ng-submit="vm.filter()">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label" for="playerInput">Player</label>
                            <input type="text" class="form-control input-sm" id="playerInput"
                                   ng-model="vm.filters.player">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="realmSelect">Realm</label>
                            <select class="form-control input-sm" id="realmSelect"
                                    ng-model="vm.filters.realm"
                                    ng-options="realm.name as realm.name for realm in vm.realms">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="factionSelect">Faction</label>
                            <select class="form-control input-sm" id="factionSelect"
                                    ng-model="vm.filters.faction"
                                    ng-options="faction.display for faction in vm.factions">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="minRatingInput">Min. Rating</label>
                            <input type="text" class="form-control input-sm col-md-6" id="minRatingInput"
                                   ng-model="vm.filters.minRating" only-digits maxlength="4">
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="maxRatingInput">Max. Rating</label>
                            <input type="text" class="form-control input-sm col-md-6" id="maxRatingInput"
                                   ng-model="vm.filters.maxRating" only-digits maxlength="4">
                        </div>
                    </div>

                    <div class="row specs-header">
                        <div class="col-md-12">
                            <h4>Specs</h4>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="specsRadios" id="allSpecsRadio" ng-value="false"
                                           ng-model="vm.filters.specs.visible">
                                    Show all talent specs
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="specsRadios" id="filterSpecsRadio" ng-value="true"
                                           ng-model="vm.filters.specs.visible">
                                    Filter by talent spec
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row specs-grid" ng-show="vm.filters.specs.visible">
                        <div class="col-md-3 specs-group" ng-repeat="classObj in vm.classes | orderBy: 'class.name'">
                            <h5 class="pointer" ng-class="classObj.class.cssClass" ng-click="vm.toggleSpecs(classObj)">
                                <span class="icon">
                                    <img ng-src="{{classObj.class.iconLink}}">
                                </span>
                                {{classObj.class.name}}
                            </h5>
                            <div class="checkbox" ng-repeat="spec in classObj.specs  | orderBy: 'order'">
                                <label>
                                    <input type="checkbox" ng-model="spec.selected">
                                    <span class="icon">
                                        <img ng-src="{{spec.iconLink}}">
                                    </span>
                                    {{spec.name}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-default" ng-click="vm.clear(); vm.filter();">Clear</a>
                            <input type="submit" class="btn btn-primary pull-right" name="submit" value="Filter">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>